.search {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center !important;
    height: 20vh;
    width: 85vw;
    margin: 0 auto;
}

.input-group {
    justify-content: center !important;
    /* width: 80%; */
}

.form-control {
    /* display: inline-block !important; */
    max-width: 50% !important;
    border: 5px solid rgba(255, 0, 0, 0.5);
}

.contenedor_cards_imagen {
    /* margin: 10px;
    border: 1px solid red; */

    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    float: left;
}

.contenedor_cards_imagen img {
    min-height: 150px;
    height: 150px;
    object-fit: cover;
}

.img_construccion {
    margin: 30px 0 30px;
    padding: 10px;
    height: 400px;
}

#contenedor_cards {
    width: 90vw;
    min-width: 300px;
}

@media (max-width: 627px) {
    #contenedor_cards {
        width: 250px;
    }

    .contenedor_cards_imagen {
        padding: 0px;
    }

    .contenedor_cards_imagen img {
        width: 150px;
        padding: 10px;
    }

    .search {
        width: 300px;
    }

    /* .input-group .rounded {
        width: 50%;
    } */

    #root {
        padding: 0px;
    }
}