.card_itinerary {
    width: 75%;
    display: inline-block;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(251, 171, 126, 0.8);
}

.itinerary-heading {
    border-bottom: 4px solid rgba(0, 0, 0, 0.5); /* Ajusta el grosor del subrayado aquí */
    padding-bottom: 10px; /* Espacio entre el texto y el subrayado */
    border-bottom: 5px solid rgba(0, 0, 0, 0.5); /* Ajusta el grosor del subrayado y el color aquí */
  }

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.col-4, .col-8, .col-3 {
    padding: 5px;
    box-sizing: border-box;
}

.col-4, .col-8 {
    flex: 1;
}

.col-3 {
    flex: 0 0 25%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 18px;
    margin: 0;
}

#itinerary-h2 {
    -webkit-text-fill-color: black
}

span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

/* Puedes agregar más estilos para los hashtags si lo deseas */
span:last-child {
    margin-bottom: 0;
}

#textp_acordion{
    color: black;
}

h2.accordion-header {
    font-size: 35px;
    color: black;
    background-color: red !important;
}